#banner{
    width:$main_width;
    height: 160px;
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:flex-start;
    }
    .sousuo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        div{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin-bottom: 10px;
            position: relative;
            .search{
                width: 448px;
                height: 46px;
                border:2px solid #004ea2;
                border-right: none;
                font-size:18px;
                outline: none;
                padding-left: 40px;
            }
            .button{
                width: 110px;
                height: 52px;
                background-color: #db3832;
                font-size: $fenlei_font_size;
                color: #fff;
                border-radius: 0px 2px 2px 0;
                border: 2px solid #db3832;
                cursor:pointer;
                outline: none;
            }
        }
        p{
            a{
                margin-left: 14px;
                text-decoration: none;
                font-size: 14px;
                color: #666;
            }
            .sousuo-a-color{
                color: $bg_color;
            }
            a:hover{
                text-decoration: underline;
            }
        }
    }
    .gouwuche{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        span{
            font-size: 30px;
            color: #666;
            margin-right: 10px;
        }
        p{
            font-size: $fenlei_font_size;
            font-size: 20px;
            color: #666;
        }
        div{
            width: 20px;
            height: 15px;
            background: red;
            border-radius: 30%;
        }
    }
}