#meijiu{
    width:$main_width;
    height: 1158px;
    margin:auto;
    background:	#2F4F4F;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    .meijiu-top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        width: 100%;
        p:nth-child(1){
            font-size: $leixing_font_size;
        }
        p:nth-child(2){
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            span{
                margin-left:5px;
                margin-right:5px;
            }
            span:nth-child(11){
                margin-left:25px;
            }
            a{
                text-decoration: none;
                color: $small_font_color;
            }
        }
    }
    .meijiuMenu{
        width: $main_width;
        height: 320px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        .meijiuMenu-left{
            width: 262px;
            height: 100%;
            background:rgb(248, 240, 240);
            margin-right: 8px;
            padding: 0 22px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            p{
                width: 218px;
                height: 40px;
                margin-top: 5px;
                margin-bottom: 35px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
            .menu-title{
                font-size: 30px;
            }
            div{
                width: 218px;
                height: 240px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
            }
            .menu-list-1{
                width: 109px;
                height: 240px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                color: #fff;
            }
            .menu-list-1 a{
                width: 100px;
                height: 29px;
                background: rgb(232, 103, 103);
                border-radius: 30px;
                text-align: center;
                line-height: 29px;
                color: #fff;
                text-decoration: none;
            }
            .menu-list-2{
                width: 109px;
                height: 240px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;
            }
            .menu-list-2 a{
                width: 100px;
                height: 29px;
                background: rgb(232, 103, 103);
                border-radius: 30px;
                text-align: center;
                line-height: 29px;
                color: #fff;
                text-decoration: none;
            }
            .menu-list-2 a:nth-child(5){
                opacity: 0;
                pointer-events:none;
            }
        }
        img{
            width: 930px;
            height: 320px;
        }
    }
    .meijiuList-1,.meijiuList-2{
        width: 100%;
        height: 317px;
        margin-top: 62px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        li{
            width: 194px;
            height: 317px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-right: 6px;
            background: red;
            img{
                width: 156.797px;
                height: 156.797px;
                margin: 22px 18.609px 0 18.594px;
            }
            p{
                width: 182px;
                height: 56px;
                margin: 16px 0 50px 12px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }
}