@charset "utf-8";
@import "compass/reset";
@import "compass/css3";
/*变量:宽高、文字大小、颜色*/
/*多行注释css中可以显示*/
/*选择器模块划分，嵌套不超过4层(&符号引用父属性)*/

/*声明混合*/
/*@mixin list-borderstyle ($style:solid,$width:1px,$color:red){
    border: $style $width $color;
}*/
/*调用混合*/
/*#top{
    @include list-borderstyle;
}*/

/*普通的文字大小*/
$font_size:12px;
/*每一层盒子的宽度*/
$main_width:1200px;
/*分类的文字大小*/
$fenlei_font_size:14px;
/*类型的文字大小*/
$leixing_font_size:22px !important;
/*top中的文字颜色*/
$font_color_top:#004ea2 !important;
/*背景主题颜色*/
$bg_color:#db3832;
/*小字体颜色*/
$small_font_color:#333;

body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items: center;
}

@import "yincan-top";
@import "top";
@import "banner";
@import "fenlei";
@import "menu";
@import "jingxuan";
@import "xinping";
@import "shengxian";
@import "meishi";
@import "meijiu";
@import "muying";
@import "lingshi";
@import "baihuo";
@import "footer";





